@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;400;500&display=swap');

$color_background: #0C0D1C;
$color_background_posts: #F2E8EC;
$color_text: #EAEBF6;
$color_link_inactive: #BFBFBF;
$color_link_active: #D292AB;

$font_bebas: 'Bebas Neue', cursive;
$font_oswald: 'Oswald', sans-serif;